body{
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
}


header{
    background-color: rgb(159, 238, 252);
    padding: 20px 30px 20px 30px;
    text-align: center;
}

header img{
    border-radius: 100%;
    width: 20%;
}




main{
    padding: 20px;
}

.about{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.skill{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0px 0px 0px;
}

.skill ul{
    list-style-type:none;
    padding: 0;
}

.skill li{
    background-color:  rgb(159, 238, 252);
    border-radius: 3px;
    padding: 8px;
    margin: 4px;
    display: inline-flex;
}

.Experience{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0px 0px 0px;
}

footer{
    text-align: center;
    background-color:  rgb(159, 238, 252);
    padding: 30px;
}

footer a{
    text-decoration: none;
    color: rgb(0, 145, 255);
}